<div>
    <h2>Delivery Form</h2>
    <form (ngSubmit)="createDelivery()">
        <div>
            <label>Package ID:</label>
            <select [(ngModel)]="newDelivery.package_id" name="package_id" required>
                <option value="">Select Package</option>
                <option *ngFor="let pkg of packages" [value]="pkg.package_id">{{ pkg.package_id }}</option>
            </select>
        </div><br>
        <div>
            <label>Status:</label>
            <select [(ngModel)]="newDelivery.status" name="status" required>
                <option value="">Select Delivery Status</option>
                <option value="open">Open</option>
                <option value="picked-up">Picked Up</option>
                <option value="in-transit">In Transit</option>
                <option value="delivered">Delivered</option>
                <option value="failed">Failed</option>
            </select>
        </div><br>
        <div>
            <label>Location (Lat, Lng):</label>
            <input type="number" placeholder="lat" [(ngModel)]="newDelivery.location.lat" name="location_lat" required>&nbsp;
            <input type="number" placeholder="lng" [(ngModel)]="newDelivery.location.lng" name="location_lng" required>
        </div><br>
        <button type="submit">Create Delivery</button>
    </form>
</div>