<div>
    <h2>Package Form</h2>
    <form (ngSubmit)="createPackage()">
        <div>
            <label>Description:</label>
            <input [(ngModel)]="newPackage.description" name="description" required>
        </div><br>
        <div>
            <label>Weight (g):</label>
            <input type="number" [(ngModel)]="newPackage.weight" name="weight" required>
        </div><br>
        <div>
            <label>Width (cm):</label>
            <input type="number" [(ngModel)]="newPackage.width" name="width" required>
        </div><br>
        <div>
            <label>Height (cm):</label>
            <input type="number" [(ngModel)]="newPackage.height" name="height" required>
        </div><br>
        <div>
            <label>Depth (cm):</label>
            <input type="number" [(ngModel)]="newPackage.depth" name="depth" required>
        </div><br>
        <div>
            <label>From Name:</label>
            <input [(ngModel)]="newPackage.from_name" name="from_name" required>
        </div><br>
        <div>
            <label>From Address:</label>
            <input [(ngModel)]="newPackage.from_address" name="from_address" required>
        </div><br>
        <div>
            <label>From Location (Lat):</label>
            <input type="number" [(ngModel)]="newPackage.from_location.lat" name="from_location_lat" required>
            <label>Lng:</label>
            <input type="number" [(ngModel)]="newPackage.from_location.lng" name="from_location_lng" required>
        </div><br>
        <div>
            <label>To Name:</label>
            <input [(ngModel)]="newPackage.to_name" name="to_name" required>
        </div><br>
        <div>
            <label>To Address:</label>
            <input [(ngModel)]="newPackage.to_address" name="to_address" required>
        </div><br>
        <div>
            <label>To Location Lat:</label>
            <input type="number" [(ngModel)]="newPackage.to_location.lat" name="to_location_lat" required>
            <label>Lng:</label>
            <input type="number" [(ngModel)]="newPackage.to_location.lng" name="to_location_lng" required>
        </div><br>
        <button type="submit">Create Package</button>
    </form>
</div>